

/* 1200 이하 중간 정도*/
@media screen and (min-width: 1024px) and (max-width: 1199px){
body,html{
    font-family: 'Noto Sans KR', sans-serif;
    height:100%;width: 100%; 
}


a{
    color:black;
    text-decoration: none;
    display: block;
}


li{
    list-style: none;
    
}
img{
    display: block;
}
.subTitle{
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 1.5em;

}
.peach{
    color:#ed4c67;
}
.row>li{
    float: left;
}
.underLine{
    text-decoration: underline;
}
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

#header::after{content: "";display: block;clear: both;}
#mainmenu>ul::after{content: "";display: block;clear: both;}
#navRight>ul::after{content: "";display: block;clear: both;}
.subList::after{content: "";display: block;clear: both;}
#utilwrap::after{content: "";display: block;clear: both;}
#mainwrap::after{content: "";display: block;clear: both;}
#popmsg::after{content: "";display: block;clear: both;}
#notice::after{content: "";display: block;clear: both;}
    
/* --------------------------------------------- */
/* header */
    #header{
        position:fixed;
    }
    #logo{
        float: left;
        width: 17%;
    }
   
    #logo>img{
        width: 54%;
    }
    #util{
        display: none;
    }

    #header{
        position: fixed;
        width: 100%;
    }

    #navLeft{
        display: none;
    }
    
    #mainwrap{
        margin: 0 auto;
        width: 80%;
    }
   
    #navRight{
        float: right;
        padding-right: 4%;
        margin-top: 1em;
        background-image: url(../images/hamburger.png);
        background-repeat: no-repeat;
        background-position: 95% 81%;
        background-size: 1em;
    }

    #navRight>ul>li{
        float: left;
        margin-right: 2em;
        cursor: pointer;
        
    }
    #navRight>ul {
        margin-top: 0.6em;
    }

    #navRight>ul>li>img{
        width: 72%;

    }
    
    
    #navRight>ul>li:last-child{display: none;}

/* --------------------------------------------- */
/* section0 */
    #wrap0{
        width: 100%;
    }
   
    #section0Banner{
       overflow: hidden;
    }
    #bannerlist{
        width:300%;
    }
    #bannerlist>li{
        float: left;
        width:33.33%;
    }
    #bannerlist>li>img{
        width:100%;
    }

    
    #noticeBox{
        width: 100%;
        position:fixed;
        bottom:0;
        background-color: #cfcfcf;
        z-index: 100;
        font-size: 0.9em;
    
    }
    #notice{
        padding: 0.4em 0;
        margin-left: 14%;
        background-image: url(../images/notic.png);
        background-repeat: no-repeat;
        background-position: 0 50%;
    }

    #notice>p{
        padding-top:0.7em;
        float: left;
        padding-left: 3%;
        font-size: 0.95em;
    }
    #notice>a{
        padding-top:0.5em;
        float: left;
        padding-left: 2%;
        text-decoration: underline;
        cursor: pointer;
    }
    #noticeCheck{
        float: right;
        margin-right: 20%;
        padding: 0.5em 1em;
        border-radius: 1em;
        border: solid 1px black;
        cursor: pointer;
        font-size: 0.95em;
    }
    


    #bot{
        position: fixed;
        bottom: 4em;
        right: 5.3em;
        width: 3.5em;
        cursor: pointer;
    }
    #help{ 
        bottom: 10em;
        right: 2em;
        position: fixed;
        width: 10em;
        animation: doongsil 3s linear infinite;
    }
    @keyframes doongsil {
        0%{
            bottom: 11em;
        }
        50%{
            bottom: 10em;
        }
    }
/* --------------------------------------------- */
/* section1 */



#wrap1{
    position:relative;
    width: 65%;
    margin: 0 auto;
    box-shadow: 5px 15px 20px 1px #d0d0d0;
}

#section1Menu1>ul::after{content: "";display: block;clear: both;}
#ticket::after{content: "";display: block;clear: both;}




/* section1menu1 */


#section1Menu1{
    width:100%;
}


#section1Menu1>ul>li{
    float: left;
    cursor: pointer;
    width:25%;  
    font-size: 1em;
    text-align: center;
}
#section1Menu1>ul>li>a{
    line-height: 300%; 

}

#section1Menu1>ul>li:hover{
    font-weight: 600;
}

#section1Menu1>ul>li:not(:first-child){
    background-color: #f1f2f6;
}


/* section1menu2 */


#section1Menu2{
    padding: 4em;
    position: relative;
   
}
#section1Menu1>ul>.on>a{
    font-weight: 700;
}

/* triptype */
 

#tripType>ul::after{content: "";display: block;clear: both;}
#section1Menu2::after{content: "";display: block;clear: both;}

#section1Menu2{
    padding: 4em 3em;}
#tripType{
    width: 50%;
    box-sizing: border-box;
    float:left
}
#tripType>ul>li{
    float: left;
    text-align: center; 
    background-color: #cfcfcf3d;
}



#tripType > ul > li > a{
    padding: 0.3em 1.5em;
    text-align: center;
    font-size: 1em;
    line-height: 2.5em;

}
.pick{
    background-color: #ed4c67;
    color:white;
}

#fast{
    box-sizing: border-box;
    float: right;
    width: 50%;
    line-height: 300%;
    font-size: 0.9em;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label > span {
    display: inline-block;
    width: 1em;
    height:1em;
    margin: 0 10px 0 0;
    vertical-align: middle;
	border-radius: 5px;
    cursor: pointer;
    border: 1px solid #182e47;
}

input[type="checkbox"]:checked + label span {
    background-image:url(../images/check2_white.png); 
     background-repeat: no-repeat;
    background-size: 100%;
    background-color: #182e47;
    
}


/* ---------------ticketBox---------------  */


#ticketBox::after{content: "";display: block;clear: both;}
#ticketBox{
    margin-top:10%;
    width:100%; 
    box-sizing: border-box;
}
.mapPoint{
    width: 26%;
    float: left;
}


#depPick>img,#arrPick>img{
    width:9%;
}
.mapPoint>input[type="text"] {
    padding: 0 0 0 0.5em;
    height: 2.5em;
    color: #222;
    border: none;
    border-bottom: 1px solid #5c5f67;
    outline: none;
    cursor: pointer;
    font-size: 0.9em;
    width: 76%;
}

#personPick>img,#classPick>img{
    width: 1.2em;
}
#search{
    width: 2.5em;
    line-height: 150%;
    position: absolute;
    background-color: #6d6e71;
    color: white;
    text-align: center;
    padding: 1.2em;
    right: 10%;
    cursor: pointer;
    border-radius: 5px;
}

/* --------------spot-------------------- */

#depAirport{
    display:none;
    position:absolute;
    background-color:white;
    border:1px solid #cfcfcf67;
    bottom: -80%;
    left: 5%;
    padding: 1.1em 1.4em;
    box-shadow: 4px 4px 4px #6d6e713c;
    border-radius: 0.5em;
}

#depAirport>h3{
    font-size: 1.2em;
    font-weight: 700;
    color:525252;
    padding:0.5em 0 1em 0.5em;
    border-bottom: 1px solid #cfcfcf;
}
#depAirport>ul{
    margin-top: 1em;
    float: left;
}
#depAirport>ul>li{
    padding:0.5em 2.5em 0 0;
    color:#525252;
    line-height: 1.1;
}
#depAirport>ul>li:hover{
    cursor: pointer;
    color:black;
}
#depAirport>ul:first-child{
   padding-right: 5em;
}
